<!doctype html>
<html>
<head>
	<title>Meadowlark Travel</title>
</head>
<body>
	<div class="container">
		<header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
		{{{body}}}
		<footer>&copy; {{copyrightYear}} 華芳設計</footer>
	</div>
</body>
</html>