<!doctype html>
<html>
<head>
	<title>Meadowlark Travel</title>
	{{{_sections.head}}}
</head>
<body>
	{{{body}}}
	<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
	{{{_sections.jquery}}}
</body>
</html>