<h1>Currency</h1>

<ul>
	{{#each tours}}
		{{! I'm in a new block...and the context has changed }}
		<li>
			{{name}} - {{price}}
			{{#if ../currencies}}
				({{../../currency.abbrev}})
			{{/if}}
		</li>
	{{/each}}
</ul>
{{#unless currencies}}
	<p>All prices in {{currency.name}}.</p>
{{/unless}}
{{#if specialsUrl}}
	{{! I'm in a new block...and the context has not changed (sortof) }}
	<p>Check out our <a href="{{specialsUrl}}">specials!</p>
{{else}}
	<p>Please check back often for specials.</p>
{{/if}}
<p>
	{{#each currencies}}
		<a href="#" class="currency">{{.}}</a>
	{{else}}
		Unfortunately, we currently only accept {{currency.name}}.
	{{/each}}
</p>